body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #004d00;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.container {
    padding: 20px;
}

input, button {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

.wide-input {
    width: 50px;
}

.narrow-input {
    width: 40px;
}

button {
    background-color: #cc0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #990000;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

#selectionPlayerBoard {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#selectionStartTime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#selectionGameDetails {
    display: flex;
    justify-content: center;
    gap: 20px;
}